Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

feat(clock): tick tock
  app/layout.tsx
  components/Drawer/Drawer.tsx
  tools/clock/getClock.test.ts
  tools/clock/getClock.ts
Due: eslint, prettier --write

feat(clock): tick tock (#262)
  app/layout.tsx
  components/Drawer/Drawer.tsx
  tools/clock/getClock.test.ts
  tools/clock/getClock.ts
Due: eslint, prettier --write

feat(toc): scroll automatically on highlight
  components/Drawer/Drawer.tsx
  components/Header/Header.tsx
  components/Toc/Entries.tsx
  components/Toc/Toc.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

wiki(appendices): update variants in FAQ
  .nvmrc
  components/Banner/Banner.tsx
  markdown/chapters/01-meandeck/08-practice.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write, markdownlint

wiki(appendices): update variants in FAQ (#263)
  .nvmrc
  components/Banner/Banner.tsx
  markdown/chapters/01-meandeck/08-practice.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write, markdownlint

feat(dependencies): bump dependencies
  app/(welcome)/Articles.tsx
  components/Banner/Banner.tsx
  components/Card/Card.tsx
  components/Card/CardFace.tsx
  components/Decklist/Column.tsx
  components/Decklist/Decklist.tsx
  components/Mana/Mana.tsx
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Code.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Spoiler.tsx
  components/Markdown/renderers/Table.tsx
  components/Markdown/renderers/Youtube.tsx
  components/Rosetta/Rosetta.tsx
  components/Sidebar/Entry.tsx
  components/Sidebar/Sidebar.tsx
  components/SpoilsCalculator/SpoilsCalculator.tsx
  contexts/Layout.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.js
  public/robots.txt
  scryfall/server.js
  scryfall/server.ts
  tools/io/formatDate.ts
  tools/markdown/files.ts
  tools/markdown/getArticle.ts
  tools/markdown/getChapter.ts
  tools/markdown/getMarkdown.ts
  tools/remark/remarkMana.ts
  tools/remark/remarkScries.ts
  tools/scryfall/parse.ts
  tools/z/schemas.ts
  tools/z/union.ts
Due: eslint, prettier --write

feat(dependencies): bump dependencies (#264)
  app/(welcome)/Articles.tsx
  components/Banner/Banner.tsx
  components/Card/Card.tsx
  components/Card/CardFace.tsx
  components/Decklist/Column.tsx
  components/Decklist/Decklist.tsx
  components/Mana/Mana.tsx
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Code.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Spoiler.tsx
  components/Markdown/renderers/Table.tsx
  components/Markdown/renderers/Youtube.tsx
  components/Rosetta/Rosetta.tsx
  components/Sidebar/Entry.tsx
  components/Sidebar/Sidebar.tsx
  components/SpoilsCalculator/SpoilsCalculator.tsx
  contexts/Layout.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.js
  public/robots.txt
  scryfall/server.js
  scryfall/server.ts
  tools/io/formatDate.ts
  tools/markdown/files.ts
  tools/markdown/getArticle.ts
  tools/markdown/getChapter.ts
  tools/markdown/getMarkdown.ts
  tools/remark/remarkMana.ts
  tools/remark/remarkScries.ts
  tools/scryfall/parse.ts
  tools/z/schemas.ts
  tools/z/union.ts
Due: eslint, prettier --write

chore: fix non-descriptive links
  CONTRIBUTING.org
  markdown/articles/2020/03/12/pretty-mean-deck.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2021/07/26/monkey-world.md
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/07/04/4seasons.md
  markdown/chapters/appendices/faq.md
  markdown/partials/license.md
  markdown/partials/markdown.md
Due: prettier --write, markdownlint

feat(theme): optimize Libre Baskerville
  app/layout.tsx
  components/Markdown/renderers/Code.tsx
  components/Markdown/renderers/Heading.tsx
  components/Markdown/renderers/Quote.tsx
  package.json
  pnpm-lock.yaml
  theme/theme.ts
Due: eslint, prettier --write

feat: update license dates
  .github/workflows/release.yaml
  LICENSE.org
  components/Footer/Footer.tsx
  scryfall/server.ts
Due: eslint, prettier --write

refactor(markdown): bump dependencies and improve renderers
  .nvmrc
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Accordion.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Code.tsx
  components/Markdown/renderers/Decklist.tsx
  components/Markdown/renderers/Image.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Soundcloud.tsx
  components/Markdown/renderers/Youtube.tsx
  package.json
  pnpm-lock.yaml
  tools/remark/RemarkError.ts
  tools/remark/remarkBase.ts
  tools/remark/remarkCard.ts
  tools/remark/remarkDecklist.ts
  tools/remark/remarkRow.ts
Due: eslint, prettier --write

ci: migrate from Jest to Vitest
  .github/workflows/release.yaml
  components/ArticleCard/ArticleCard.test.tsx
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  tools/clock/getClock.test.ts
  tools/decklists/parse.test.ts
  tools/decklists/parseHeader.test.ts
  tsconfig.json
  typings.d.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier --write

feat(scryfall): lower request rate
  scryfall/server.ts
  tools/scryfall/scry.ts
Due: eslint, prettier --write

ci: update action versions
  .github/actions/setup/action.yaml
Due: none

refactor: migrate to Kiwi 5.3.0
  app/markdown/page.tsx
  components/Markdown/Markdown.tsx
  package.json
  pnpm-lock.yaml
  tools/markdown/files.ts
  tools/markdown/getArticle.ts
  tools/markdown/getArticleCards.ts
  tools/markdown/getChapter.ts
  tools/markdown/getMarkdown.ts
  tools/markdown/menu.ts
  tools/markdown/types.ts
  tools/remark/remarkBase.ts
  tools/remark/remarkCard.ts
  tools/remark/remarkDecklist.ts
  tools/remark/remarkDecklists.ts
  tools/remark/remarkMana.ts
  tools/remark/remarkRow.ts
  tools/remark/remarkScries.ts
Due: eslint, prettier --write

chore: bump dependencies
  knip.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

fix: increase static generation timeout
  next.config.ts
Due: eslint, prettier --write

feat(rosetta): add support for Rosetta translations from Scry requests
  components/Rosetta/Rosetta.tsx
  markdown/articles/2018/03/06/scg-worcester-report.md
  markdown/articles/2019/03/05/worlds-end.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/articles/2022/09/15/review.md
  markdown/chapters/01-meandeck/03-brainstorm.md
  markdown/chapters/02-ddft/03-dd-vs-hate.md
  markdown/chapters/02-ddft/06-uncommon-piles.md
  markdown/chapters/02-ddft/07-winning-without-dd.md
  markdown/partials/markdown.md
  tools/game/constants/Cards.ts
  tools/game/getCard.ts
  tools/markdown/getBanner.ts
  tools/remark/remarkCard.ts
  tools/remark/remarkScries.ts
  tools/rosetta/constants.ts
  tools/rosetta/translate.test.ts
  tools/rosetta/translate.ts
  tools/scryfall/scry.ts
Due: eslint, prettier --write, markdownlint

feat(dependencies): bump Node version
  .nvmrc
  package.json
Due: prettier --write

fix(ci): prefer pnpm 10
  .github/actions/setup/action.yaml
Due: none

feat(remark): migrate to kiwi@5.7.2
  .github/actions/setup/action.yaml
  components/Card/CardFace.tsx
  components/Markdown/renderers/Accordion.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Decklist.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Soundcloud.tsx
  components/Markdown/renderers/Youtube.tsx
  package.json
  pnpm-lock.yaml
  tools/remark/RemarkError.ts
  tools/remark/remarkBase.ts
  tools/remark/remarkCard.ts
  tools/remark/remarkDecklist.ts
  tools/remark/remarkDecklists.ts
  tools/remark/remarkMana.ts
  tools/remark/remarkRow.ts
  tools/remark/remarkScries.ts
Due: eslint, prettier --write

fix(theme): migrate to data theme scheme attribute
  .nvmrc
  app/not-found.tsx
  components/ArticleCard/ArticleCard.tsx
  components/Banner/Banner.tsx
  components/Card/Card.tsx
  components/Footer/Footer.tsx
  components/Sidebar/Entry.tsx
  package.json
  pnpm-lock.yaml
  theme/mixins.ts
  theme/theme.ts
  vitest.config.ts
Due: eslint, prettier --write

feat(markdown): prettify image aspect ratio
  components/Markdown/renderers/Image.tsx
Due: eslint, prettier --write

refactor(remark): transport complex data through node rather than attributes
  components/Markdown/Markdown.tsx
  components/Markdown/remarker.ts
  components/Markdown/renderers/Accordion.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Decklist.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Soundcloud.tsx
  components/Markdown/renderers/Spoiler.tsx
  components/Markdown/renderers/Youtube.tsx
  components/Markdown/types.ts
  tools/remark/remarkRow.ts
Due: eslint, prettier --write

style: enable Oxlint "suspicious" and "perf" categories
  app/[chapter]/[slug]/page.tsx
  app/articles/[year]/[month]/[day]/[slug]/page.tsx
  app/layout.tsx
  app/sandbox/page.tsx
  components/Banner/Banner.tsx
  components/Decklist/Decklist.tsx
  components/Decklist/Summary.tsx
  components/Header/Header.tsx
  components/Markdown/renderers/Accordion.tsx
  components/Markdown/renderers/Image.tsx
  components/Sidebar/Entry.tsx
  components/Sidebar/Sidebar.tsx
  components/SpoilsCalculator/SpoilsCalculator.tsx
  components/SpoilsCalculator/shuffle.ts
  components/Toc/Entries.tsx
  components/Toc/Toc.tsx
  components/Toc/findHeadings.ts
  contexts/Layout.tsx
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  theme/theme.ts
  tools/clock/getClock.test.ts
  tools/decklists/getDecklist.ts
  tools/decklists/parseCards.ts
  tools/mana/toArray.test.ts
  tools/mana/toArray.ts
  tools/markdown/files.ts
  tools/markdown/getArticle.ts
  tools/markdown/getArticleCards.ts
  tools/markdown/getChapter.ts
  tools/markdown/getMarkdown.ts
  tsconfig.json
Due: eslint, prettier --write

refactor(dependencies): migrate to Next 16
  CONTRIBUTING.org
  app/(welcome)/Articles.tsx
  app/articles/Articles.tsx
  app/articles/page.tsx
  app/layout.tsx
  components/ArticleCard/ArticleCard.tsx
  components/Decklist/Decklist.tsx
  components/Drawer/Drawer.tsx
  components/Link/Link.tsx
  components/Mana/Mana.tsx
  components/Sidebar/Entry.tsx
  next-env.d.ts
  next.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(dependencies): migrate to pnpm 11
  .github/actions/setup/action.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.org
  components/SpoilsCalculator/SpoilsCalculator.tsx
  decklists/2018/04/ddft.apeofjustice.txt
  decklists/2021/02/19/meandeck.ubrg.doishy.txt
  decklists/2021/07/26/ddft.ub.lim-dul-vault.txt
  decklists/2022/09/15/alex2.txt
  markdown/articles/2019/03/05/worlds-end.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/02/19/alignment.md
  markdown/articles/2021/07/27/ddft-brewing.md
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/01/22/zero-respect.md
  markdown/chapters/01-meandeck/06-deck-construction.md
  markdown/chapters/01-meandeck/07-sideboard.md
  markdown/chapters/04-entombsday/02-gameplay.md
  markdown/chapters/04-entombsday/03-deck-construction.md
  markdown/partials/markdown.md
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  puzzles/meandeck.beta.1.yaml
  tools/decklists/parseCards.ts
  tools/io/formatDate.ts
  tools/rosetta/constants.ts
  vitest.config.ts
Due: eslint, prettier --write, markdownlint

feat(release): compress the build before the deployment
  .github/actions/setup/action.yaml
  .github/workflows/release.yaml
Due: none

refactor(dependencies): replace @mdi with @mui/icons-material
  components/ArticleMeta/ArticleMeta.tsx
  components/Card/Card.tsx
  components/Decklist/Decklist.tsx
  components/Decklist/Summary.tsx
  components/Drawer/Drawer.tsx
  components/Header/Header.tsx
  components/Markdown/renderers/Accordion.tsx
  components/Sidebar/Entry.tsx
  components/SpoilsCalculator/SpoilsCalculator.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,js,json,jsx,scss,ts,tsx}
  markdownlint: any of: *.md
