Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{js,json,jsx,scss,ts,tsx}": "prettier --write",
  "*.md": "markdownlint"
}

wiki(meandeck): rename menu entry
  CONTRIBUTING_WITH_MARKDOWN.org
  src/tools/markdown/constants/Menu.ts
Due: eslint, prettier --write

wiki(meandeck): deprecate Meandeck moniker (#186)
  .lintstagedrc.json
  .markdownlint.json
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/articles/2021/07/27/ddft-brewing.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/resources.md
  markdown/chapters/ddft/uncommon-piles.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/chapters/meandeck/interaction.md
  markdown/chapters/meandeck/matchups.md
  markdown/partials/welcome.md
  package.json
  src/tools/markdown/constants/Menu.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

chore: bump dependencies
  package.json
  yarn.lock
Due: prettier --write

wiki(articles): add 2022 review
  decklists/2022/09/15/Alex2.txt
  decklists/2022/09/15/Dalibor.txt
  decklists/2022/09/15/Monkeyscantcry.txt
  decklists/2022/09/15/RoseIsland.txt
  decklists/2022/09/15/Wonderpreaux.txt
  markdown/articles/2022/09/15/2022-review.md
Due: markdownlint

fix(articles): quote title
  markdown/articles/2022/09/15/2022-review.md
Due: markdownlint

build(dependencies): bump
  package.json
  yarn.lock
Due: prettier --write

wiki(articles): clean up 2022 review
  decklists/2022/09/15/alex2.txt
  decklists/2022/09/15/dalibor-szegho.txt
  decklists/2022/09/15/monkeyscantcry.txt
  decklists/2022/09/15/roseisland.txt
  decklists/2022/09/15/wonderpreaux.txt
  markdown/articles/2022/09/15/2022-review.md
Due: markdownlint

fix(articles): add missing 60th card
  decklists/2022/09/15/alex2.txt
  decklists/2022/09/15/roseisland.txt
  decklists/2022/09/15/wonderpreaux.txt
Due: none

fix(articles): Deranged -> Malevolent
  markdown/articles/2022/09/15/2022-review.md
Due: markdownlint

chore(articles): fix typos
  markdown/articles/2022/01/16/the-mindkiller-update.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/articles/2022/09/15/2022-review.md
Due: markdownlint

wiki(articles): add 2022 review (#187)
  decklists/2022/09/15/alex2.txt
  decklists/2022/09/15/dalibor-szegho.txt
  decklists/2022/09/15/monkeyscantcry.txt
  decklists/2022/09/15/roseisland.txt
  decklists/2022/09/15/wonderpreaux.txt
  markdown/articles/2022/01/16/the-mindkiller-update.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/articles/2022/09/15/2022-review.md
  package.json
  yarn.lock
Due: prettier --write, markdownlint

feat(remark): add support for double-faced cards
  .eslintrc.json
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardFace.test.tsx
  src/components/Card/CardFace.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/tools/markdown/getBanner.ts
  src/tools/remark/remarkRow.ts
  src/tools/remark/remarkScryfall.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/types.ts
Due: eslint, prettier --write

feat(remark): add support for double-faced cards (#188)
  .eslintrc.json
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardFace.test.tsx
  src/components/Card/CardFace.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/tools/markdown/getBanner.ts
  src/tools/remark/remarkRow.ts
  src/tools/remark/remarkScryfall.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/types.ts
Due: eslint, prettier --write

wiki(appendices): add playables
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/playables.md
Due: markdownlint

chore(appendices): clean up
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/playables.md
  src/constants/HttpStatusCode.ts
  src/tools/io/walk.test.ts
Due: eslint, prettier --write, markdownlint

chore(appendices): shorten title
  markdown/chapters/appendices/playables.md
Due: markdownlint

wiki(appendices): fix typos and add inline links
  decklists/meandeck.ub.txt
  markdown/articles/2022/09/15/2022-review.md
  markdown/chapters/appendices/playables.md
Due: markdownlint

wiki(appendices): add Otter feedback
  markdown/chapters/appendices/playables.md
Due: markdownlint

wiki(appendices): add playables.md (#147)
  decklists/meandeck.ub.txt
  markdown/articles/2022/09/15/2022-review.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/playables.md
  src/constants/HttpStatusCode.ts
  src/tools/io/walk.test.ts
Due: eslint, prettier --write, markdownlint

wiki(tempo): add first chapter
  markdown/chapters/tempo/basics.md
  src/tools/markdown/constants/Category.ts
  src/tools/markdown/constants/Menu.ts
Due: eslint, prettier --write, markdownlint

feat(scryfall): add cache server
  .env.development
  .env.production
  .eslintrc.json
  .github/workflows/ci.yaml
  CONTRIBUTING_WITH_CODE.org
  package.json
  scryfall/server.js
  src/components/ArticleListItem/ArticleListItem.tsx
  src/components/ArticleMeta/ArticleMeta.tsx
  src/components/Banner/Banner.tsx
  src/components/Decklist/Decklist.tsx
  src/tools/logger/log.ts
  src/tools/markdown/getArticles.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkScryfall.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/scry.ts
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

build(workflows): add Vercel previews
  .github/workflows/ci.yaml
  .github/workflows/preview.yaml
  .github/workflows/release.yaml
  .gitignore
  package.json
  scryfall/server.js
  src/components/Header/Header.tsx
Due: eslint, prettier --write

feat(scryfall): add cache server (#193)
  .env.development
  .env.production
  .eslintrc.json
  .github/workflows/ci.yaml
  .github/workflows/preview.yaml
  .github/workflows/release.yaml
  .gitignore
  CONTRIBUTING_WITH_CODE.org
  package.json
  scryfall/server.js
  src/components/ArticleListItem/ArticleListItem.tsx
  src/components/ArticleMeta/ArticleMeta.tsx
  src/components/Banner/Banner.tsx
  src/components/Decklist/Decklist.tsx
  src/components/Header/Header.tsx
  src/tools/logger/log.ts
  src/tools/markdown/getArticles.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkScryfall.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/scry.ts
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

ci(workflows): add release job
  .github/workflows/preview.yaml
  .github/workflows/release.yaml
Due: none

ci(workflows): add release job (#194)
  .github/workflows/preview.yaml
  .github/workflows/release.yaml
Due: none

wiki(articles): add DDFT 2022 update
  decklists/2022/12/31/fuz-citadel-doomsday.txt
  decklists/2022/12/31/mindkiller-2022.txt
  decklists/2022/12/31/no-wish-ddft.txt
  decklists/2022/12/31/opal-mindkiller-2022-ver-2.txt
  decklists/2022/12/31/opal-mindkiller-2022.txt
  markdown/articles/2022/12/31/ddft-update-2022.md
Due: markdownlint

fix(articles): add missing sideboard cards
  decklists/2022/12/31/mindkiller.opal-v2.txt
  decklists/2022/12/31/mindkiller.opal.txt
Due: none

chore(articles): clean up
  decklists/2022/12/31/citadel-doomsday.txt
  decklists/2022/12/31/fuz-citadel-doomsday.txt
  decklists/2022/12/31/mindkiller-2022.txt
  decklists/2022/12/31/mindkiller.opal-v2.txt
  decklists/2022/12/31/mindkiller.opal.txt
  decklists/2022/12/31/mindkiller.txt
  decklists/2022/12/31/no-wish-ddft.txt
  decklists/2022/12/31/opal-mindkiller-2022-ver-2.txt
  decklists/2022/12/31/opal-mindkiller-2022.txt
  markdown/articles/2022/12/31/ddft-update-2022.md
Due: markdownlint

wiki(articles): add DDFT 2022 update (#192)
  decklists/2022/12/31/citadel-doomsday.txt
  decklists/2022/12/31/mindkiller.opal-v2.txt
  decklists/2022/12/31/mindkiller.opal.txt
  decklists/2022/12/31/mindkiller.txt
  decklists/2022/12/31/no-wish-ddft.txt
  markdown/articles/2022/12/31/ddft-update-2022.md
Due: markdownlint

wiki(articles): add 2022 cabal-pitual.md
  markdown/articles/2022/10/16/cabal-pitual.md
Due: markdownlint

chore(articles): clean up
  decklists/2021/09/27/meandeck.romariovidal.txt
  decklists/2022/10/16/meandeck.blacksky.txt
  decklists/2022/10/16/meandeck.bwands.txt
  decklists/2022/10/16/meandeck.romariovidal.txt
  decklists/2022/10/16/tempo.roseisland.txt
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/10/16/cabal-pitual.md
  markdown/chapters/appendices/resources.md
Due: markdownlint

chore(dependencies): bump dependencies
  package.json
  yarn.lock
Due: prettier --write

wiki(articles): fix Brandom -> Brandon
  markdown/articles/2022/10/16/cabal-pitual.md
Due: markdownlint

wiki(articles): add 2022 cabal-pitual.md (#191)
  decklists/2021/09/27/meandeck.romariovidal.txt
  decklists/2022/10/16/meandeck.blacksky.txt
  decklists/2022/10/16/meandeck.bwands.txt
  decklists/2022/10/16/meandeck.romariovidal.txt
  decklists/2022/10/16/tempo.roseisland.txt
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/10/16/cabal-pitual.md
  markdown/chapters/appendices/resources.md
  package.json
  yarn.lock
Due: prettier --write, markdownlint

perf(remark): remove partials from page props
  .eslintrc.json
  .gitignore
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getPartials.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkPartials.ts
  src/tools/remark/remarkScries.ts
Due: eslint, prettier --write

chore(lint): add ts-prune
  .ts-prunerc.json
  package.json
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

perf(remark): remove partials from page props (#195)
  .eslintrc.json
  .gitignore
  .ts-prunerc.json
  package.json
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getPartials.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkPartials.ts
  src/tools/remark/remarkScries.ts
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

refactor(markdown): clean up getMarkdownPartial
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkPartials.ts
Due: eslint, prettier --write
