Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{md,js,json,jsx,scss,ts,tsx}": "prettier --write",
  "*.md": "markdownlint"
}

chore(dependencies): remove TypeScript 6 dependencies
  app/layout.tsx
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write

feat(theme): prettify headings
  components/Banner/Banner.tsx
  components/Markdown/renderers/Heading.tsx
  markdown/partials/markdown.md
  package.json
  pnpm-lock.yaml
  theme/theme.ts
Due: eslint, prettier --write, markdownlint

feat(card): improve double-faced card rendering
  components/Banner/Banner.tsx
  components/Card/Card.tsx
  components/Card/CardFace.tsx
  markdown/partials/markdown.md
  theme/mixins.ts
  theme/theme.ts
Due: eslint, prettier --write, markdownlint

feat(theme): prettify tooltips
  components/Card/Card.tsx
  components/Footer/Footer.tsx
  components/Header/Header.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Table.tsx
  theme/mixins.ts
  theme/theme.ts
Due: eslint, prettier --write

feat(cardlink): add card preview tooltips
  components/Card/Card.tsx
  components/Card/CardFace.tsx
  components/CardLink/CardLink.tsx
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Card.tsx
  tools/remark/remarkCard.ts
  tools/remark/remarkScries.ts
Due: eslint, prettier --write

feat(markdown): add support for admnonitions
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Admonition.tsx
  markdown/partials/markdown.md
  theme/theme.ts
Due: eslint, prettier --write, markdownlint

wiki(articles): fix Nauseum to Nauseam
  markdown/articles/2021/01/07/history-of-doomsday.md
Due: prettier --write, markdownlint

feat(remark): enable LQIP for all scries
  next.config.ts
  tools/remark/remarkScries.ts
Due: eslint, prettier --write

wiki(*): fix mispelled scry queries
  decklists/2022/09/15/roseisland.txt
  markdown/articles/2020/03/12/pretty-mean-deck.md
  markdown/articles/2020/03/22/ddfaq.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2021/07/26/monkey-world.md
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/01/22/zero-respect.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/articles/2022/10/16/cabal-pitual.md
  markdown/articles/2022/12/31/ddft-update-2022.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/chapters/01-meandeck/06-deck-construction.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, markdownlint

perf(remark): cache getArticle, getBanner, and getChapter
  tools/markdown/getArticle.ts
  tools/markdown/getBanner.ts
  tools/markdown/getChapter.ts
Due: eslint, prettier --write

feat(scryfall): migrate to Scrydrop 2
  .gitignore
  CONTRIBUTING.org
  components/SpoilsCalculator/SpoilsCalculator.tsx
  contexts/Layout.tsx
  instrumentation-client.ts
  markdown/articles/2020/03/22/ddfaq.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2021/07/27/ddft-brewing.md
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/01/22/zero-respect.md
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/articles/2023/07/04/4seasons.md
  markdown/chapters/01-meandeck/05-interaction.md
  markdown/chapters/01-meandeck/06-deck-construction.md
  markdown/chapters/02-ddft/06-uncommon-piles.md
  markdown/chapters/04-entombsday/01-basics.md
  markdown/chapters/04-entombsday/03-deck-construction.md
  markdown/chapters/appendices/faq.md
  markdown/partials/markdown.md
  next.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  tools/remark/remarkScries.ts
  tools/scryfall/scry.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier --write, markdownlint

feat(workflows): post preview URL to comment
  .github/actions/comment/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/release.yaml
Due: none

wiki(*): say please less
  markdown/chapters/01-meandeck/04-ptt.md
  markdown/chapters/01-meandeck/07-sideboard.md
  markdown/chapters/01-meandeck/08-practice.md
  markdown/chapters/appendices/faq.md
  puzzles/meandeck.gamma.3.yaml
Due: prettier --write, markdownlint

feat(workflows): apply Zizmor suggestions
  .github/actions/deploy/action.yaml
  .github/workflows/release.yaml
Due: none

feat(toc): prettify back-to-top link
  components/Toc/Toc.tsx
Due: eslint, prettier --write

feat(remark): prettify rows and piles
  components/Markdown/renderers/Row.tsx
Due: eslint, prettier --write

fix(card): prevent unnecessary flip buttons
  components/Card/Card.tsx
Due: eslint, prettier --write

feat(cardlink): remove unnecessary spacing for single-faced cards
  components/CardLink/CardLink.tsx
  markdown/chapters/appendices/faq.md
Due: eslint, prettier --write, markdownlint

feat(scryfall): persist LQIP paths
  .gitignore
  package.json
  pnpm-lock.yaml
  tools/scryfall/lqip.test.ts
  tools/scryfall/lqip.ts
  tools/scryfall/scry.ts
  vitest.config.ts
Due: eslint, prettier --write

feat(scryfall): persist LQIP paths (#274)
  .gitignore
  package.json
  pnpm-lock.yaml
  tools/scryfall/lqip.test.ts
  tools/scryfall/lqip.ts
  tools/scryfall/scry.ts
  vitest.config.ts
Due: eslint, prettier --write
