Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

refactor(io): clean up walk iterator
  src/tools/decklists/getDecklists.ts
  src/tools/io/walk.test.ts
  src/tools/io/walk.ts
  src/tools/markdown/getArticles.ts
  src/tools/markdown/getChapters.ts
Due: eslint, prettier --write

perf(markdown): await all banners at once
  src/tools/markdown/getArticles.ts
  src/tools/markdown/getMarkdown.ts
Due: eslint, prettier --write

chore(wiki): update decklists
  decklists/meandeck.ub.txt
  decklists/meandeck.ubg.txt
  decklists/meandeck.ubr.txt
  decklists/meandeck.ubrg.txt
  decklists/meandeck.wub.txt
  markdown/articles/2022/09/15/2022-review.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/ddeft/basics.md
  markdown/chapters/meandeck/matchups.md
Due: markdownlint

chore(dependencies): bump dependencies
  package.json
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkTable.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkBase.ts
  src/tools/remark/remarkCard.ts
  src/tools/remark/remarkDecklist.ts
  src/tools/remark/remarkMana.ts
  src/tools/remark/remarkPartials.ts
  src/tools/remark/remarkRow.ts
  src/tools/remark/remarkScries.ts
  yarn.lock
Due: eslint, prettier --write

Create eternalrantmegacy.md
  markdown/articles/2023/03/10/eternalrantmegacy.md
Due: markdownlint

Add files via upload
  public/media/pictures/2023.megacy.finals.jpg
  public/media/pictures/2023.megacy.toptable.jpg
Due: none

Update eternalrantmegacy.md
  markdown/articles/2023/03/10/eternalrantmegacy.md
Due: markdownlint

chore(articles): fix date
  markdown/articles/2023/03/01/megacy.md
Due: markdownlint

wiki(license): update copyright year
  LICENSE.org
  markdown/partials/license.md
  markdown/partials/welcome.md
  src/components/Footer/Footer.tsx
Due: eslint, prettier --write, markdownlint

feat(home): add button to show all articles at once
  src/pages/index.tsx
Due: eslint, prettier --write

chore(articles): clean up and fix typos
  .markdownlint.json
  decklists/2023/03/turbo.txt
  markdown/articles/2023/03/10/eternalrantmegacy.md
  public/media/pictures/2023.megacy.toptables.jpg
Due: prettier --write, markdownlint

wiki(articles): add eternalrant-megacy.md (#197)
  .markdownlint.json
  LICENSE.org
  decklists/2023/03/turbo.txt
  markdown/articles/2023/03/01/megacy.md
  markdown/partials/license.md
  markdown/partials/welcome.md
  public/media/pictures/2023.megacy.finals.jpg
  public/media/pictures/2023.megacy.toptables.jpg
  src/components/Footer/Footer.tsx
  src/pages/index.tsx
Due: eslint, prettier --write, markdownlint

wiki(articles): fix megacy document kind
  markdown/articles/2023/03/01/megacy.md
Due: markdownlint

wiki(articles): fix megacy document kind (#198)
  markdown/articles/2023/03/01/megacy.md
Due: markdownlint

feat(theme): increase default font size
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/theme/theme.ts
  src/tools/markdown/constants/Menu.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/types.ts
Due: eslint, prettier --write

wiki: reduce usage of consider as a verb
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/archive/authors/angrybacon.md
  markdown/archive/authors/d8dk32.md
  markdown/archive/authors/doishy.md
  markdown/archive/authors/knox.md
  markdown/archive/authors/unorthodoxbird.md
  markdown/articles/2018/01/03/doomsday-by-committee.md
  markdown/articles/2018/03/06/scg-worcester-report.md
  markdown/articles/2018/04/23/dueling-doomsdays.md
  markdown/articles/2018/12/13/primer.md
  markdown/articles/2019/04/29/ddeft-guide.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/10/16/cabal-pitual.md
  markdown/chapters/appendices/playables.md
  markdown/chapters/ddft/brainstorm.md
  markdown/chapters/meandeck/alternative-piles.md
  markdown/chapters/meandeck/basics.md
  markdown/chapters/meandeck/brainstorm.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/chapters/meandeck/interaction.md
  src/components/Remark/renderers/RemarkSoundcloud.tsx
Due: eslint, prettier --write, markdownlint

wiki(meandeck): update playables and interactions
  markdown/chapters/appendices/playables.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/chapters/meandeck/interaction.md
  src/tools/game/constants/Cards.ts
Due: eslint, prettier --write, markdownlint

wiki(appendices): update resources
  markdown/chapters/appendices/resources.md
Due: markdownlint

wiki(appendices): remove Expressive Iteration as playable
  markdown/chapters/appendices/playables.md
Due: markdownlint

chore(ci): rename steps
  .github/workflows/preview.yaml
Due: none

wiki(meandeck): update resources, playables and deprecate Expressive Iteration (#199)
  .github/workflows/preview.yaml
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/archive/authors/angrybacon.md
  markdown/archive/authors/d8dk32.md
  markdown/archive/authors/doishy.md
  markdown/archive/authors/knox.md
  markdown/archive/authors/unorthodoxbird.md
  markdown/articles/2018/01/03/doomsday-by-committee.md
  markdown/articles/2018/03/06/scg-worcester-report.md
  markdown/articles/2018/04/23/dueling-doomsdays.md
  markdown/articles/2018/12/13/primer.md
  markdown/articles/2019/04/29/ddeft-guide.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2021/09/27/dark-pitual.md
  markdown/articles/2022/10/16/cabal-pitual.md
  markdown/chapters/appendices/playables.md
  markdown/chapters/appendices/resources.md
  markdown/chapters/ddft/brainstorm.md
  markdown/chapters/meandeck/alternative-piles.md
  markdown/chapters/meandeck/basics.md
  markdown/chapters/meandeck/brainstorm.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/chapters/meandeck/interaction.md
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/theme/theme.ts
  src/tools/game/constants/Cards.ts
  src/tools/markdown/constants/Menu.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/types.ts
Due: eslint, prettier --write, markdownlint

feat(remark): add support for tweets
  CONTRIBUTING_WITH_MARKDOWN.org
  package.json
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkTweet.tsx
  yarn.lock
Due: eslint, prettier --write

feat(remark): add support for tweets (#201)
  CONTRIBUTING_WITH_MARKDOWN.org
  package.json
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkTweet.tsx
  yarn.lock
Due: eslint, prettier --write

Create 4seasons2023.md
  markdown/articles/2023/03/15/4seasons2023.md
Due: markdownlint

wiki(articles): clean up
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/03/15/4seasons.md
  markdown/articles/2023/03/15/4seasons2023.md
Due: markdownlint

wiki(articles): add Mendendian tweet (again)
  markdown/articles/2020/03/22/ddfaq.md
  public/media/pictures/2020.vintage-turn-one.jpeg
Due: markdownlint

wiki(articles): add decklist accordion
  decklists/2023/03/turbo.eternalrant.txt
  decklists/2023/03/turbo.fuz65.txt
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/03/15/4seasons.md
Due: markdownlint

wiki(articles): update date
  markdown/articles/2023/03/12/4seasons.md
Due: markdownlint

wiki(articles): add 4seasons2023.md (#200)
  decklists/2023/03/turbo.eternalrant.txt
  decklists/2023/03/turbo.fuz65.txt
  markdown/articles/2020/03/22/ddfaq.md
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/03/12/4seasons.md
  public/media/pictures/2020.vintage-turn-one.jpeg
Due: markdownlint

wiki(appendices): add resources
  markdown/articles/2022/01/22/zero-respect.md
  markdown/chapters/appendices/resources.md
Due: markdownlint

chore(dependencies): bump dependencies
  package.json
  src/tools/remark/remarkAccordion.ts
  yarn.lock
Due: eslint, prettier --write

wiki(appendices): add resources (#202)
  markdown/articles/2022/01/22/zero-respect.md
  markdown/chapters/appendices/resources.md
  package.json
  src/tools/remark/remarkAccordion.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

feat(analytics): add Vercel analytics
  package.json
  src/components/Footer/Footer.tsx
  src/pages/_app.tsx
  yarn.lock
Due: eslint, prettier --write

feat(analytics): add Vercel analytics (#203)
  package.json
  src/components/Footer/Footer.tsx
  src/pages/_app.tsx
  yarn.lock
Due: eslint, prettier --write

Adds Menu entry, Basics document, and Decklists for Entombsday
  decklists/2023/03/entombsday.Nitro_Rick.txt
  decklists/2023/03/entombsday.drynne.txt
  markdown/chapters/entombsday/basics.md
  src/tools/markdown/constants/Category.ts
  src/tools/markdown/constants/Menu.ts
Due: eslint, prettier --write, markdownlint

Adds additional Entombsday content and breaks things out into multiple chapters and sections
  markdown/chapters/entombsday/additional-resources.md
  markdown/chapters/entombsday/basics.md
  markdown/chapters/entombsday/deck-construction.md
  markdown/chapters/entombsday/interaction.md
  markdown/chapters/entombsday/playing-the-deck.md
Due: markdownlint

feat(remark): add support for spoilers
  .eslintrc.json
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/articles/2020/03/21/the-mindkiller.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2022/01/16/the-mindkiller-update.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/playables.md
  markdown/chapters/ddft/winning-without-dd.md
  markdown/chapters/meandeck/basics.md
  package.json
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkSpoiler.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkRow.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

feat(remark): add support for spoilers (#206)
  .eslintrc.json
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/articles/2020/03/21/the-mindkiller.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2022/01/16/the-mindkiller-update.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/playables.md
  markdown/chapters/ddft/winning-without-dd.md
  markdown/chapters/meandeck/basics.md
  package.json
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkSpoiler.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkRow.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,json,jsx,scss,ts,tsx}
  markdownlint: any of: *.md
