Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

feat(sidebar): remove DDEFT entry
  src/tools/markdown/constants/Menu.ts
Due: eslint, prettier --write

wiki(entombsday): update rosetta
  src/tools/game/constants/Cards.ts
Due: eslint, prettier --write

wiki(entombsday): add initial chapters (#204) (#209)
  decklists/2023/03/entombsday.drynne.txt
  decklists/2023/03/entombsday.missdestroy.txt
  decklists/2023/03/entombsday.nitro_rick.txt
  decklists/2023/03/tinfins.drynne.txt
  markdown/chapters/entombsday/basics.md
  markdown/chapters/entombsday/deck-construction.md
  markdown/chapters/entombsday/gameplay.md
  markdown/chapters/entombsday/interaction.md
  markdown/partials/welcome.md
  src/tools/game/constants/Cards.ts
  src/tools/markdown/constants/Category.ts
  src/tools/markdown/constants/Menu.ts
Due: eslint, prettier --write, markdownlint

Update interaction.md
  markdown/chapters/entombsday/interaction.md
Due: markdownlint

wiki(entombsday): fix Containment Priest section (#218)
  markdown/chapters/entombsday/interaction.md
Due: markdownlint

wiki: deprecate DDEFT
  markdown/chapters/appendices/faq.md
  markdown/partials/welcome.md
  package.json
  yarn.lock
Due: prettier --write, markdownlint

wiki: deprecate DDEFT (#220)
  markdown/chapters/appendices/faq.md
  markdown/partials/welcome.md
  package.json
  yarn.lock
Due: prettier --write, markdownlint

chore(entombsday): fix gameplay preamble
  markdown/chapters/entombsday/gameplay.md
Due: markdownlint

chore(entombsday): fix gameplay preamble (#221)
  markdown/chapters/entombsday/gameplay.md
Due: markdownlint

chore(entombsday): remove extraneous query options
  markdown/chapters/entombsday/deck-construction.md
Due: markdownlint

chore(entombsday): remove extraneous query options (#222)
  markdown/chapters/entombsday/deck-construction.md
Due: markdownlint

feat(remark): add banner for chapters
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/appendices/interactions.md
  markdown/chapters/appendices/playables.md
  markdown/chapters/appendices/resources.md
  markdown/chapters/ddeft/basics.md
  markdown/chapters/ddft/basics.md
  markdown/chapters/ddft/brainstorm.md
  markdown/chapters/ddft/dd-vs-hate.md
  markdown/chapters/ddft/echo.md
  markdown/chapters/ddft/pass-the-turn.md
  markdown/chapters/ddft/uncommon-piles.md
  markdown/chapters/ddft/winning-without-dd.md
  markdown/chapters/entombsday/basics.md
  markdown/chapters/entombsday/deck-construction.md
  markdown/chapters/entombsday/gameplay.md
  markdown/chapters/entombsday/interaction.md
  markdown/chapters/meandeck/basics.md
  markdown/chapters/meandeck/brainstorm.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/chapters/meandeck/interaction.md
  markdown/chapters/meandeck/practice.md
  markdown/chapters/meandeck/ptt.md
  markdown/chapters/meandeck/sideboard.md
  markdown/chapters/meandeck/simple-piles.md
  src/pages/[category]/[chapter].tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/readMatter.ts
  src/tools/markdown/types.ts
Due: eslint, prettier --write, markdownlint

build(scryfall): add rate limit
  package.json
  scryfall/server.js
  yarn.lock
Due: eslint, prettier --write

fix(remark): adjust margins as per parent grid
  markdown/articles/2018/01/10/doomsday-in-2017.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/07/26/monkey-world.md
  src/components/Decklist/Decklist.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkQuote.tsx
  src/components/Remark/renderers/RemarkTable.tsx
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump
  CONTRIBUTING_WITH_MARKDOWN.org
  package.json
  yarn.lock
Due: prettier --write

feat(remark): augment banner with reading time and flavor text
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/Banner/Banner.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/tools/markdown/getBanner.ts
  src/tools/markdown/types.ts
  src/tools/scryfall/parse.ts
  src/tools/scryfall/types.ts
Due: eslint, prettier --write

refactor(markdown): reduce server data footprint
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleListItem/ArticleListItem.tsx
  src/components/ArticleMeta/ArticleMeta.tsx
  src/components/Layout/Layout.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/pages/404.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getArticles.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getChapters.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/readMatter.ts
  src/tools/markdown/sanitize.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkPartials.ts
  src/tools/scryfall/scry.ts
Due: eslint, prettier --write

fix(remark): remove divider margins
  src/components/Remark/renderers/RemarkDivider.tsx
Due: eslint, prettier --write

fix(remark): remove divider margins (#224)
  src/components/Remark/renderers/RemarkDivider.tsx
Due: eslint, prettier --write

fix(banner): improve responsive banners
  package.json
  src/components/Banner/Banner.tsx
  yarn.lock
Due: eslint, prettier --write

fix(banner): improve responsive banners (#225)
  package.json
  src/components/Banner/Banner.tsx
  yarn.lock
Due: eslint, prettier --write

Create 4seasons2.md
  markdown/articles/2023/07/05/4seasons2.md
Due: markdownlint

wiki(articles): fix sideboarding
  markdown/articles/2023/07/05/4seasons2.md
Due: markdownlint

wiki(articles): clean up
  decklists/2023/07/turbo.fuz65.txt
  markdown/articles/2023/07/05/4seasons2.md
  public/media/pictures/2023.4seasons.dinner.jpg
  src/theme/tools/barf.ts
Due: eslint, prettier --write, markdownlint

wiki(articles): rename 4seasons2 4seasons
  markdown/articles/2023/07/05/4seasons.md
Due: markdownlint

build(scryfall): remove logs in production
  markdown/articles/2023/07/04/4seasons.md
  package.json
  scryfall/server.js
Due: eslint, prettier --write, markdownlint

wiki(articles): fix typos
  markdown/articles/2022/09/15/2022-review.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/articles/2023/07/04/4seasons.md
Due: markdownlint

wiki(articles): add 4seasons report (#228)
  decklists/2023/07/turbo.fuz65.txt
  markdown/articles/2022/09/15/2022-review.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/articles/2023/07/04/4seasons.md
  package.json
  public/media/pictures/2023.4seasons.dinner.jpg
  scryfall/server.js
  src/theme/tools/barf.ts
Due: eslint, prettier --write, markdownlint

feat(sandbox): add Phyrexian remapper
  CONTRIBUTING_WITH_CODE.org
  markdown/chapters/appendices/faq.md
  markdown/partials/license.md
  package.json
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleListItem/ArticleListItem.tsx
  src/components/Link/Link.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/fonts/PhyrexianVertical.ttf
  src/fonts/fonts.ts
  src/pages/articles.tsx
  src/pages/sandbox.tsx
  yarn.lock
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump dependencies
  package.json
  yarn.lock
Due: prettier --write

feat(sandbox): add Phyrexian remapper (#227)
  CONTRIBUTING_WITH_CODE.org
  markdown/chapters/appendices/faq.md
  markdown/partials/license.md
  package.json
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleListItem/ArticleListItem.tsx
  src/components/Link/Link.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/fonts/PhyrexianVertical.ttf
  src/fonts/fonts.ts
  src/pages/articles.tsx
  src/pages/sandbox.tsx
  yarn.lock
Due: eslint, prettier --write, markdownlint

feat(banner): add thumbnail
  next.config.js
  src/components/Banner/Banner.tsx
  src/tools/markdown/getBanner.ts
  src/tools/markdown/types.ts
  src/tools/scryfall/parse.ts
  src/tools/scryfall/types.ts
Due: eslint, prettier --write

feat(banner): add LQIP data URL
  package.json
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/Banner/Banner.tsx
  src/tools/markdown/getBanner.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkScries.ts
  src/tools/scryfall/parse.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

fix(banner): preserve preview image ratio
  public/mocks/doomsday.a25.small.jpg
  public/mocks/doomsday.wth.small.jpg
  public/mocks/duress.sta.small.jpg
  src/components/Banner/Banner.tsx
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/constants/set.ts
  src/tools/markdown/getBanner.ts
  src/tools/scryfall/parse.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/types.ts
Due: eslint, prettier --write

performance(banner): reduce preview size
  src/tools/scryfall/parse.ts
Due: eslint, prettier --write

performance(banner): use previews (#226)
  next.config.js
  package.json
  public/mocks/doomsday.a25.small.jpg
  public/mocks/doomsday.wth.small.jpg
  public/mocks/duress.sta.small.jpg
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/Banner/Banner.tsx
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/constants/set.ts
  src/tools/markdown/getBanner.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkScries.ts
  src/tools/scryfall/parse.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/types.ts
  yarn.lock
Due: eslint, prettier --write

chore(dependencies): bump 1/2
  package.json
  scryfall/server.js
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/Banner/Banner.tsx
  src/components/Layout/Layout.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarRosetta.tsx
  src/mocks/handlers.ts
  src/pages/index.tsx
  src/pages/sandbox.tsx
  src/theme/theme.ts
  src/tools/decklists/parse.test.ts
  src/tools/decklists/parseCards.ts
  src/tools/decklists/parseHeader.ts
  src/tools/game/__tests__/getRosetta.test.ts
  src/tools/game/getCard.ts
  src/tools/game/getRosetta.ts
  src/tools/io/formatDate.ts
  src/tools/io/readMarkdown.ts
  src/tools/io/walk.test.ts
  src/tools/io/walk.ts
  src/tools/mana/constants.ts
  src/tools/mana/toArray.test.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getBanner.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/sanitize.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkPartials.ts
  src/tools/remark/remarkScries.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/scry.ts
  yarn.lock
Due: eslint, prettier --write

chore(dependencies): bump 2/2
  markdown/articles/2021/01/07/history-of-doomsday.md
  package.json
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkLink.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkBase.ts
  src/tools/remark/remarkDecklist.ts
  src/tools/remark/typings.d.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,json,jsx,scss,ts,tsx}
  markdownlint: any of: *.md
