Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{md,js,json,jsx,scss,ts,tsx}": "prettier --write",
  "*.md": "markdownlint"
}

chore(lint): remove lint-staged
  .husky/pre-commit
  .knip.json
  .lintstagedrc.json
  .markdownlint.json
  .prettierrc.json
  .yarnrc
  knip.config.js
  markdown/articles/2020/01/01/echoes-of-the-past.md
  markdown/chapters/appendices/faq.md
  markdownlint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: eslint, prettier --write, markdownlint

refactor(markdown): add remarkMinutes
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkMana.server.ts
  src/tools/remark/remarkMinutes.server.ts
Due: eslint, prettier --write

fix(home): fix layout for tablet viewports
  src/pages/index.tsx
Due: eslint, prettier --write

chore(remark): clean up typings
  eslint.config.mjs
  src/components/Markdown/renderers/Decklist.tsx
  src/tools/decklists/getDecklists.ts
  src/tools/decklists/types.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkBase.client.ts
  src/tools/remark/remarkCard.client.ts
  src/tools/remark/remarkDecklist.client.ts
  src/tools/remark/remarkMinutes.server.ts
  src/tools/remark/remarkRow.client.ts
  src/tools/remark/remarkScries.server.ts
Due: eslint, prettier --write

refactor(remark): attach decklists to tree directly
  package.json
  pnpm-lock.yaml
  src/components/Markdown/Markdown.tsx
  src/pages/404.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/index.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/decklists/constants.ts
  src/tools/decklists/getDecklist.ts
  src/tools/decklists/getDecklists.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkDecklists.server.ts
Due: eslint, prettier --write

refactor(typescript): use korumite/ts
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/pages/_document.tsx
  tsconfig.json
Due: eslint, prettier --write

refactor(markdown): remove most remark dependencies
  markdown/articles/2022/09/15/review.md
  markdown/partials/sandbox.md
  package.json
  pnpm-lock.yaml
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/markdown.tsx
  src/routes.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkFrontmatter.server.ts
  src/tools/remark/remarkMinutes.server.ts
  typings.d.ts
Due: eslint, prettier --write, markdownlint

feat(dependencies): bump Kiwi dependency
  .env.development
  .env.production
  package.json
  pnpm-lock.yaml
  src/pages/404.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/index.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
Due: eslint, prettier --write

refactor: clean up route constants
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/routes.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
Due: eslint, prettier --write

feat(files): replace assert utilities with Zod
  package.json
  pnpm-lock.yaml
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/ArticleChip/ArticleChip.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/theme/theme.ts
  src/tools/game/__tests__/getCard.test.ts
  src/tools/game/__tests__/getRosetta.test.ts
  src/tools/game/constants/Cards.ts
  src/tools/game/getCard.ts
  src/tools/game/getRosetta.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/constants/Menu.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/readMatter.ts
  src/tools/markdown/sanitize.ts
  src/tools/markdown/types.ts
  src/tools/markdown/utilities.test.ts
  src/tools/markdown/utilities.ts
Due: eslint, prettier --write

chore(scryfall): rename SCRYFALL_DEBUG to DEBUG
  .env.development
  markdown/partials/sandbox.md
  package.json
  scryfall/server.js
Due: eslint, prettier --write, markdownlint

fix: await banners properly
  src/tools/markdown/getArticleCards.ts
Due: eslint, prettier --write

refactor(markdown): read union from constants directly
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/readMatter.ts
  src/tools/z/union.ts
Due: eslint, prettier --write

fix(sidebar): fix case for sidebar entries
  src/components/Sidebar/SidebarEntry.tsx
Due: eslint, prettier --write

refactor(markdown): prefer const over enums
  package.json
  scryfall/server.js
  src/components/ArticleChip/ArticleChip.tsx
  src/components/Layout/Layout.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/components/Sidebar/SidebarRosetta.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/theme/theme.ts
  src/tools/game/__tests__/getRosetta.test.ts
  src/tools/game/constants/Cards.ts
  src/tools/game/getCard.ts
  src/tools/game/getRosetta.ts
  src/tools/markdown/constants.ts
  src/tools/markdown/constants/Category.ts
  src/tools/markdown/constants/Kind.ts
  src/tools/markdown/constants/Menu.ts
  src/tools/markdown/constants/Tag.ts
  src/tools/markdown/files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getBanner.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/readMatter.ts
  src/tools/markdown/types.ts
Due: eslint, prettier --write

chore(dependencies): bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

wiki(meandeck): update FAQ
  markdown/chapters/appendices/faq.md
  markdown/chapters/meandeck/basics.md
  markdown/chapters/meandeck/practice.md
  public/media/assets/pile-bell-chart.png
Due: prettier --write, markdownlint

fix(markdown): remove deprecated row variant usage
  markdown/articles/2020/03/21/the-mindkiller.md
  markdown/articles/2020/06/22/fat-stacks.md
  markdown/articles/2020/10/05/gangsta-trippin.md
  markdown/articles/2021/01/07/history-of-doomsday.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2022/01/16/the-mindkiller-update.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/chapters/ddft/winning-without-dd.md
  markdown/chapters/entombsday/gameplay.md
  markdown/chapters/meandeck/interaction.md
  markdown/chapters/meandeck/practice.md
  markdown/chapters/meandeck/ptt.md
  src/components/Markdown/renderers/Row.tsx
Due: eslint, prettier --write, markdownlint

chore: clean up import statements
  markdown/partials/license.md
  package.json
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleChip/ArticleChip.tsx
  src/components/BackToTop/BackToTop.tsx
  src/components/Banner/Banner.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardFace.tsx
  src/components/Decklist/Decklist.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Layout/Layout.tsx
  src/components/Markdown/renderers/Code.tsx
  src/components/Markdown/renderers/Row.tsx
  src/components/Markdown/renderers/Table.tsx
  src/components/Markdown/renderers/Tweet.tsx
  src/components/Progress/Progress.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/Sidebar/SidebarRosetta.tsx
  src/hooks/useScroll.ts
  src/pages/_app.tsx
  src/pages/sandbox/index.tsx
  src/theme/ThemeContext.tsx
  src/theme/theme.ts
  src/theme/tools/barf.ts
  src/theme/tools/gutters.ts
  src/theme/tools/toolbarMargin.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/z/schemas.test.ts
  src/tools/z/schemas.ts
Due: eslint, prettier --write, markdownlint

chore(markdown): rename Markdown to include order prefix
  markdown/chapters/ddeft/basics.md
  markdown/chapters/ddft/01-basics.md
  markdown/chapters/ddft/02-brainstorm.md
  markdown/chapters/ddft/03-dd-vs-hate.md
  markdown/chapters/ddft/04-echo.md
  markdown/chapters/ddft/05-pass-the-turn.md
  markdown/chapters/ddft/06-uncommon-piles.md
  markdown/chapters/ddft/07-winning-without-dd.md
  markdown/chapters/entombsday/01-basics.md
  markdown/chapters/entombsday/02-gameplay.md
  markdown/chapters/entombsday/03-deck-construction.md
  markdown/chapters/entombsday/04-interaction.md
  markdown/chapters/meandeck/01-basics.md
  markdown/chapters/meandeck/02-simple-piles.md
  markdown/chapters/meandeck/03-brainstorm.md
  markdown/chapters/meandeck/04-ptt.md
  markdown/chapters/meandeck/05-interaction.md
  markdown/chapters/meandeck/06-deck-construction.md
  markdown/chapters/meandeck/07-sideboard.md
  markdown/chapters/meandeck/08-practice.md
  src/tools/markdown/readMatter.ts
  src/tools/markdown/types.ts
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump MUI
  package.json
  pnpm-lock.yaml
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
  src/pages/index.tsx
Due: eslint, prettier --write

chore(dependencies): bump ESLint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(dependencies): bump Unist
  package.json
  pnpm-lock.yaml
Due: prettier --write

Made container max width larger
  src/components/Layout/Layout.tsx
Due: eslint, prettier --write

feat(layout): increase maximum width (#252)
  src/components/Layout/Layout.tsx
Due: eslint, prettier --write

feat(markdown): add article cards
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/ArticleCard/ArticleCard.tsx
  src/components/Banner/Banner.tsx
  src/components/Card/CardFace.tsx
  src/components/Decklist/Column.tsx
  src/components/Decklist/Decklist.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarRosetta.tsx
  src/pages/articles.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/tools/markdown/files.ts
  src/tools/markdown/getArticle.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/readMatter.ts
  src/tools/markdown/types.ts
  src/tools/scryfall/parse.ts
  src/tools/z/schemas.ts
Due: eslint, prettier --write

chore(dependencies): bump
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(tracking): add PostHog
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Due: eslint, prettier --write

feat(tracking): add PostHog (#253)
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Due: eslint, prettier --write

feat(tracking): migrate to vercel/speed-insights
  markdown/partials/license.md
  package.json
  pnpm-lock.yaml
  src/components/Footer/Footer.tsx
  src/pages/_app.tsx
  src/pages/license.tsx
Due: eslint, prettier --write, markdownlint

feat(tracking): migrate to vercel/speed-insights (#254)
  markdown/partials/license.md
  package.json
  pnpm-lock.yaml
  src/components/Footer/Footer.tsx
  src/pages/_app.tsx
  src/pages/license.tsx
Due: eslint, prettier --write, markdownlint

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

wiki(resources): update Dabauma Twitch link
  markdown/chapters/appendices/resources.md
Due: prettier --write, markdownlint

wiki(resources): update Dabauma Twitch link (#256)
  markdown/chapters/appendices/resources.md
Due: prettier --write, markdownlint
