Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

wiki(resources): add Dissecting Doomsday entry
  markdown/chapters/appendices/resources.md
Due: markdownlint

wiki(resources): add Dissecting Doomsday entry (#241)
  markdown/chapters/appendices/resources.md
Due: markdownlint

style: prefer Prettier over ESLint's import/order
  .eslintrc.json
  .prettierrc.json
  jest.setup.js
  package.json
  src/tools/io/walk.test.ts
  yarn.lock
Due: eslint, prettier --write

chore(dependencies): bump dependencies
  .github/workflows/preview.yaml
  package.json
  yarn.lock
Due: prettier --write

refactor(remark): upgrade remark dependencies 1/3
  .eslintrc.json
  package.json
  src/components/Layout/Layout.tsx
  src/components/Link/Link.tsx
  src/components/Remark/constants.ts
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkCode.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkDivider.tsx
  src/components/Remark/renderers/RemarkHeading.tsx
  src/components/Remark/renderers/RemarkList.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkSpoiler.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/theme/ThemeContext.tsx
  src/tools/game/getCard.ts
  yarn.lock
Due: eslint, prettier --write

refactor(remark): upgrade remark dependencies 2/3
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/remarkAccordion.ts
  src/tools/remark/remarkBase.ts
  src/tools/remark/remarkPartials.ts
  src/tools/remark/remarkScries.ts
  src/tools/remark/typings.ts
  typings.d.ts
Due: eslint, prettier --write

fix(remark): prevent double pre wrappers for code blocks
  src/components/Remark/Remark.tsx
  src/components/Remark/constants.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkCode.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkList.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkSpoiler.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/tools/remark/remarkBase.ts
Due: eslint, prettier --write

refactor(remark): upgrade remark dependencies 3/3
  package.json
  src/components/Remark/Remark.tsx
  src/components/Remark/constants.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkHeading.tsx
  src/components/Remark/renderers/RemarkImage.tsx
  src/components/Remark/renderers/RemarkLink.tsx
  src/components/Remark/renderers/RemarkList.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkSpoiler.tsx
  src/components/Remark/renderers/RemarkTable.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/tools/markdown/getMarkdown.ts
  src/tools/remark/hastify.ts
  src/tools/remark/remarkAccordion.client.ts
  src/tools/remark/remarkBase.client.ts
  src/tools/remark/remarkBase.ts
  src/tools/remark/remarkCard.client.ts
  src/tools/remark/remarkCard.ts
  src/tools/remark/remarkDecklist.client.ts
  src/tools/remark/remarkDecklist.ts
  src/tools/remark/remarkMana.client.ts
  src/tools/remark/remarkMana.ts
  src/tools/remark/remarkPartials.server.ts
  src/tools/remark/remarkRow.client.ts
  src/tools/remark/remarkRow.ts
  src/tools/remark/remarkScries.server.ts
  src/tools/remark/typings.ts
  yarn.lock
Due: eslint, prettier --write

fix(remark): replace remark-slug with rehype-slug
  package.json
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  yarn.lock
Due: eslint, prettier --write

chore(dependencies): replace ts-prune with knip
  .ts-prunerc.json
  jest.config.js
  package.json
  src/tools/remark/typings.d.ts
  yarn.lock
Due: eslint, prettier --write

feat(sandbox): add sandbox/markdown page
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/partials/sandbox.md
  public/robots.txt
  src/pages/sandbox/index.tsx
  src/pages/sandbox/markdown.tsx
Due: eslint, prettier --write, markdownlint

feat(a11y): add image titles
  markdown/articles/2018/01/03/doomsday-by-committee.md
  markdown/articles/2018/01/10/doomsday-in-2017.md
  markdown/articles/2018/02/03/doomsday-by-numbers.md
  markdown/articles/2018/04/23/dueling-doomsdays.md
  markdown/articles/2021/02/19/alignment.md
  markdown/articles/2022/02/10/axion-mega-report.md
  markdown/articles/2022/04/15/axion-mega-brum.md
  markdown/articles/2023/03/01/megacy.md
  markdown/articles/2023/07/04/4seasons.md
  markdown/articles/2023/10/14/spoiling-for-a-fight.md
  markdown/partials/sandbox.md
Due: markdownlint

feat(build): migrate to pnpm
  CONTRIBUTING.org
  CONTRIBUTING_WITH_MARKDOWN.org
  README.org
  jest.config.js
  jest.config.ts
  jest.setup.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: eslint, prettier --write

fix(ci): replace yarn with pnpm
  .github/workflows/preview.yaml
Due: none

feat(ci): add summaries
  .github/workflows/preview.yaml
  .knip.json
Due: prettier --write

chore(mocks): deprecate mocks
  CONTRIBUTING_WITH_CODE.org
  markdown/articles/2018/12/13/primer.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2023/03/01/megacy.md
  markdown/chapters/ddft/dd-vs-hate.md
  markdown/chapters/ddft/echo.md
  markdown/chapters/ddft/pass-the-turn.md
  package.json
  pnpm-lock.yaml
  src/components/Remark/constants.tsx
  src/mocks/bootstrap.ts
  src/mocks/browser.ts
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/constants/set.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/pages/_app.tsx
Due: eslint, prettier --write, markdownlint

chore(mocks): deprecate mocks (#243)
  CONTRIBUTING_WITH_CODE.org
  markdown/articles/2018/12/13/primer.md
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/articles/2023/03/01/megacy.md
  markdown/chapters/ddft/dd-vs-hate.md
  markdown/chapters/ddft/echo.md
  markdown/chapters/ddft/pass-the-turn.md
  package.json
  pnpm-lock.yaml
  src/components/Remark/constants.tsx
  src/mocks/bootstrap.ts
  src/mocks/browser.ts
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/constants/set.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/pages/_app.tsx
Due: eslint, prettier --write, markdownlint

feat(wiki): add decklist channel link
  decklists/meandeck.ub.txt
  decklists/meandeck.wub.txt
  markdown/chapters/appendices/decklists.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, markdownlint

feat(wiki): add decklist channel link (#244)
  decklists/meandeck.ub.txt
  decklists/meandeck.wub.txt
  markdown/chapters/appendices/decklists.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, markdownlint

refactor(dependencies): use features from Kiwi
  markdown/LICENSE.txt
  markdown/partials/license.md
  package.json
  pnpm-lock.yaml
  src/components/Banner/Banner.tsx
  src/components/Layout/Layout.tsx
  src/components/Remark/renderers/RemarkLink.tsx
  src/tools/decklists/getDecklists.ts
  src/tools/io/walk.test.ts
  src/tools/io/walk.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/remark/hastify.ts
  src/tools/remark/remarkAccordion.client.ts
  src/tools/remark/remarkBase.client.ts
  src/tools/remark/remarkCard.client.ts
  src/tools/remark/remarkDecklist.client.ts
  src/tools/remark/remarkMana.client.ts
  src/tools/remark/remarkRow.client.ts
  tsconfig.json
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(sandbox): clean up accordion examples
  markdown/partials/sandbox.md
Due: markdownlint

refactor(remark): chain remarkers the unified way
  markdown/partials/sandbox.md
  package.json
  pnpm-lock.yaml
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCode.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/io/readMarkdown.ts
  src/tools/mana/constants.test.ts
  src/tools/mana/constants.ts
  src/tools/mana/toDirective.test.ts
  src/tools/mana/toDirective.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.client.ts
  src/tools/remark/remarkFrontmatter.server.ts
  src/tools/remark/remarkMana.server.ts
  src/tools/remark/remarkPartials.server.ts
  src/tools/remark/remarkScries.server.ts
Due: eslint, prettier --write, markdownlint

refactor(markdonw): deprecate readMarkdown
  markdown/chapters/appendices/faq.md
  package.json
  pnpm-lock.yaml
  src/tools/decklists/constants.ts
  src/tools/decklists/getDecklists.ts
  src/tools/io/readDecklist.ts
  src/tools/io/readMarkdown.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
Due: eslint, prettier --write, markdownlint

feat(analytics): disable outside of production
  src/pages/_app.tsx
Due: eslint, prettier --write

refactor(mana): deprecate remarkMana.client
  markdown/partials/sandbox.md
  src/components/Mana/Mana.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/tools/mana/constants.ts
  src/tools/remark/remarkMana.client.ts
  src/tools/remark/remarkMana.server.ts
  src/tools/remark/remarkScries.server.ts
Due: eslint, prettier --write, markdownlint

fix(remark): fix horizontal scrolling for tables and code blocks
  markdown/partials/sandbox.md
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCode.tsx
  src/components/Remark/renderers/RemarkTable.tsx
Due: eslint, prettier --write, markdownlint

refactor(remark): chain remarkers the unified way (#246)
  markdown/chapters/appendices/faq.md
  markdown/partials/sandbox.md
  package.json
  pnpm-lock.yaml
  src/components/Mana/Mana.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCode.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkTable.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/_app.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/decklists/constants.ts
  src/tools/decklists/getDecklists.ts
  src/tools/io/readDecklist.ts
  src/tools/io/readMarkdown.ts
  src/tools/mana/constants.test.ts
  src/tools/mana/constants.ts
  src/tools/mana/toDirective.test.ts
  src/tools/mana/toDirective.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/types.ts
  src/tools/remark/remarkAccordion.client.ts
  src/tools/remark/remarkFrontmatter.server.ts
  src/tools/remark/remarkMana.client.ts
  src/tools/remark/remarkMana.server.ts
  src/tools/remark/remarkPartials.server.ts
  src/tools/remark/remarkScries.server.ts
Due: eslint, prettier --write, markdownlint

refactor(remark): deprecate remarkAccordion.client
  package.json
  pnpm-lock.yaml
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/theme/ThemeContext.tsx
  src/tools/remark/remarkAccordion.client.ts
Due: eslint, prettier --write

docs(sandbox): migrate guidelines from Org documents
  CONTRIBUTING.org
  CONTRIBUTING_WITH_CODE.org
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/partials/license.md
  markdown/partials/sandbox.md
  src/theme/constants.ts
  src/tools/markdown/constants/Category.ts
  src/tools/markdown/constants/Kind.ts
  src/tools/markdown/constants/Tag.ts
Due: eslint, prettier --write, markdownlint

refactor(markdown): rename Remark -> Markdown
  src/components/ArticleChip/ArticleChip.tsx
  src/components/Markdown/Markdown.tsx
  src/components/Markdown/constants.tsx
  src/components/Markdown/renderers/Accordion.tsx
  src/components/Markdown/renderers/Card.tsx
  src/components/Markdown/renderers/Code.tsx
  src/components/Markdown/renderers/Decklist.tsx
  src/components/Markdown/renderers/Divider.tsx
  src/components/Markdown/renderers/Heading.tsx
  src/components/Markdown/renderers/Image.tsx
  src/components/Markdown/renderers/Link.tsx
  src/components/Markdown/renderers/List.tsx
  src/components/Markdown/renderers/Mana.tsx
  src/components/Markdown/renderers/Quote.tsx
  src/components/Markdown/renderers/Row.tsx
  src/components/Markdown/renderers/Soundcloud.tsx
  src/components/Markdown/renderers/Spoiler.tsx
  src/components/Markdown/renderers/Table.tsx
  src/components/Markdown/renderers/Tweet.tsx
  src/components/Markdown/renderers/Youtube.tsx
  src/components/Remark/constants.tsx
  src/components/Remark/renderers/RemarkDivider.tsx
  src/components/Remark/renderers/RemarkLink.tsx
  src/components/Remark/renderers/RemarkList.tsx
  src/components/Remark/renderers/RemarkParagraph.tsx
  src/components/Remark/renderers/RemarkTable.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/markdown.tsx
  src/theme/theme.ts
Due: eslint, prettier --write

feat(lint): enforce type-only imports when relevant
  eslint.config.mjs
  src/components/ArticleCard/ArticleCard.test.tsx
  src/components/ArticleCard/ArticleCard.tsx
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardFace.test.tsx
  src/components/Card/CardFace.tsx
  src/components/Decklist/Column.test.tsx
  src/components/Decklist/Column.tsx
  src/components/Link/Link.tsx
  src/components/Markdown/renderers/Accordion.tsx
  src/components/Markdown/renderers/Code.tsx
  src/components/Markdown/renderers/Decklist.tsx
  src/components/Markdown/renderers/Divider.tsx
  src/components/Markdown/renderers/Row.tsx
  src/components/Markdown/renderers/Spoiler.tsx
  src/components/Markdown/renderers/Table.tsx
  src/components/Markdown/renderers/Tweet.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarEntry.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
  src/pages/404.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/articles.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/pages/index.tsx
  src/pages/license.tsx
  src/pages/sandbox/index.tsx
  src/pages/sandbox/markdown.tsx
  src/tools/markdown/types.ts
  src/tools/remark/remarkBase.client.ts
  src/tools/remark/remarkCard.client.ts
  src/tools/remark/remarkDecklist.client.ts
  src/tools/remark/remarkRow.client.ts
  src/tools/remark/remarkScries.server.ts
  src/tools/scryfall/read.ts
Due: eslint, prettier --write

refactor(markdown): remove unnecessary renderers
  src/components/Markdown/Markdown.tsx
  src/components/Markdown/constants.tsx
  src/components/Markdown/renderers/List.tsx
  src/components/Markdown/renderers/index.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,json,jsx,scss,ts,tsx}
  markdownlint: any of: *.md
