Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{md,js,json,jsx,scss,ts,tsx}": "prettier --write",
  "*.md": "markdownlint"
}

feat(dependencies): bump dependencies and remove Vercel insights
  markdown/partials/license.md
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
Due: eslint, prettier --write, markdownlint

feat(dependencies): bump dependencies and remove Vercel insights (#257)
  markdown/partials/license.md
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
Due: eslint, prettier --write, markdownlint

wiki(meandeck): update interaction chapter
  markdown/chapters/01-meandeck/05-interaction.md
Due: prettier --write, markdownlint

wiki(meandeck): update interaction chapter (#258)
  markdown/chapters/01-meandeck/05-interaction.md
Due: prettier --write, markdownlint

feat(markdown): deprecate tweet embeds
  components/ArticleMeta/ArticleMeta.tsx
  components/BackToTop/BackToTop.tsx
  components/Card/Card.tsx
  components/Header/Header.tsx
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Tweet.tsx
  components/Markdown/renderers/index.ts
  components/Sidebar/Entry.tsx
  components/SpoilsCalculator/SpoilsCalculator.tsx
  markdown/articles/2020/03/22/ddfaq.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/articles/2023/07/04/4seasons.md
  markdown/partials/sandbox.md
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write, markdownlint

chore: fix test render
  app/layout.tsx
  components/ArticleCard/ArticleCard.test.tsx
  components/Card/Card.test.tsx
  components/Card/CardFace.test.tsx
  components/Decklist/Column.test.tsx
  eslint.config.mjs
  theme/theme.ts
  tools/test/index.tsx
Due: eslint, prettier --write

chore: fix markdownlint
  markdown/articles/2020/03/22/ddfaq.md
  markdown/articles/2023/03/12/4seasons.md
  markdown/articles/2023/07/04/4seasons.md
  markdown/partials/sandbox.md
Due: prettier --write, markdownlint

feat(markdown): prettify renderers
  components/Card/Card.tsx
  components/Header/Header.tsx
  components/Markdown/renderers/Accordion.tsx
  components/Markdown/renderers/Decklist.tsx
  components/Markdown/renderers/Image.tsx
  components/Markdown/renderers/Quote.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Soundcloud.tsx
  components/Markdown/renderers/Spoiler.tsx
  components/Markdown/renderers/Table.tsx
  components/Markdown/renderers/Youtube.tsx
  components/Sidebar/Entry.tsx
  markdown/partials/sandbox.md
  theme/mixins.ts
  theme/theme.ts
  tools/decklists/constants.ts
  tools/decklists/getDecklist.ts
  tools/decklists/parseHeader.test.ts
  tools/decklists/parseHeader.ts
  tools/decklists/types.ts
  tools/game/constants/Cards.ts
  tools/game/constants/Sets.ts
  tools/mana/constants.test.ts
  tools/mana/toArray.ts
  tools/markdown/files.ts
  tools/markdown/getArticleCards.ts
  tools/markdown/getBanner.ts
  tools/markdown/menu.ts
  tools/remark/remarkBase.client.ts
  tools/remark/remarkCard.client.ts
  tools/remark/remarkDecklist.client.ts
  tools/remark/remarkDecklists.server.ts
  tools/remark/remarkRow.client.ts
  tools/scryfall/parse.ts
  tools/scryfall/read.ts
  tools/scryfall/scry.ts
  tools/scryfall/types.ts
  tools/z/schemas.ts
  typings.d.ts
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump Markdown dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(layout): read current chapter from the right context
  app/markdown/page.tsx
  app/not-found.tsx
  contexts/Layout.tsx
  markdown/chapters/03-ddeft/basics.md
  markdown/partials/markdown.md
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write, markdownlint

refactor(theme): simplify code renderer
  components/Markdown/renderers/Code.tsx
Due: eslint, prettier --write

feat: migrate to Node 22
  app/layout.tsx
  package.json
Due: eslint, prettier --write

feat(layout): close drawer automatically on navigation
  contexts/Layout.tsx
Due: eslint, prettier --write

refactor(theme): remove @mui/system and @mui/utils dependencies
  components/Markdown/renderers/Row.tsx
  package.json
  pnpm-lock.yaml
  theme/mixins.ts
  theme/theme.ts
Due: eslint, prettier --write

refactor(theme): simplify spoiler renderer
  components/Markdown/renderers/Spoiler.tsx
Due: eslint, prettier --write

fix(theme): fix SSR colors
  app/layout.tsx
  components/Card/Card.tsx
  components/Card/CardFace.tsx
  components/Divider/Divider.tsx
  components/Header/Header.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Table.tsx
  components/Toc/Toc.tsx
  theme/mixins.ts
  theme/theme.ts
Due: eslint, prettier --write

feat(theme): deprecate theme switcher
  app/layout.tsx
  components/Drawer/Drawer.tsx
  components/Header/Header.tsx
  components/Themes/Themes.tsx
Due: eslint, prettier --write

feat(tracking): track device preferred scheme
  contexts/Tracking.tsx
Due: eslint, prettier --write

refactor(markdown): filter hastified directives to those implemented only
  components/Markdown/Markdown.tsx
  tools/remark/remarkBase.client.ts
  tools/remark/typings.ts
Due: eslint, prettier --write

fix(drawer): extract Discord link outside of tooltip reference
  components/Drawer/Drawer.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(remark): skip unsupported directives
  package.json
  pnpm-lock.yaml
  tools/remark/remarkBase.client.ts
  tools/remark/remarkCard.client.ts
  tools/remark/remarkDecklist.client.ts
  tools/remark/remarkDecklists.server.ts
  tools/remark/remarkMana.server.ts
  tools/remark/remarkRow.client.ts
  tools/remark/typings.ts
Due: eslint, prettier --write

feat(layout): prettify 404
  app/layout.tsx
  app/not-found.tsx
  components/Banner/Banner.tsx
  components/Sidebar/Sidebar.tsx
  components/Toc/Toc.tsx
Due: eslint, prettier --write

feat(layout): prettify table of contents
  components/Drawer/Drawer.tsx
  components/Toc/Toc.tsx
Due: eslint, prettier --write

fix(markdown): enforce image aspect ratio in order to prevent CLS
  CONTRIBUTING_WITH_MARKDOWN.org
  components/Markdown/renderers/Image.tsx
  markdown/chapters/appendices/faq.md
  markdown/partials/markdown.md
Due: eslint, prettier --write, markdownlint

feat(markdown): adjust wrap behavior in tables
  components/Markdown/renderers/Table.tsx
  markdown/chapters/appendices/resources.md
  markdown/partials/markdown.md
Due: eslint, prettier --write, markdownlint

docs(markdown): move Markdown guidelines to /markdown
  CONTRIBUTING.org
  CONTRIBUTING_WITH_MARKDOWN.org
  components/Markdown/renderers/Quote.tsx
  markdown/partials/markdown.md
Due: eslint, prettier --write, markdownlint

chore(dependencies): bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(toc): add title
  components/Toc/Toc.tsx
Due: eslint, prettier --write

feat(toc): add drawer for mobile viewports
  components/Divider/Divider.tsx
  components/Drawer/Drawer.tsx
  components/Header/Header.tsx
  components/Rosetta/Rosetta.tsx
  components/Sidebar/Sidebar.tsx
  components/Toc/Entries.tsx
  components/Toc/Toc.tsx
  contexts/Layout.tsx
Due: eslint, prettier --write

feat(toc): prettify
  components/Sidebar/Sidebar.tsx
  components/Toc/Entries.tsx
  components/Toc/Toc.tsx
Due: eslint, prettier --write

feat(toc): hide header button when no table is available
  components/Header/Header.tsx
  components/Toc/Toc.tsx
  contexts/Layout.tsx
Due: eslint, prettier --write

refactor(markdown): move Markdown to SSR
  app/sandbox/PhyrexianRemapper.tsx
  components/Card/Card.tsx
  components/Markdown/Markdown.tsx
  components/Markdown/renderers/Card.tsx
  components/Markdown/renderers/Code.tsx
  components/Markdown/renderers/Decklist.tsx
  components/Markdown/renderers/Image.tsx
  components/Markdown/renderers/Mana.tsx
  components/Markdown/renderers/Row.tsx
  components/Markdown/renderers/Soundcloud.tsx
  components/Markdown/renderers/Spoiler.tsx
  components/Markdown/renderers/Table.tsx
  components/Markdown/renderers/Youtube.tsx
  components/Toc/Entries.tsx
  package.json
  pnpm-lock.yaml
  tools/markdown/getArticle.ts
  tools/markdown/getChapter.ts
  tools/markdown/getMarkdown.ts
  tools/markdown/types.ts
  tools/remark/RemarkError.ts
  tools/remark/remarkBase.client.ts
  tools/remark/remarkCard.client.ts
  tools/remark/remarkDecklist.client.ts
  tools/remark/remarkDecklists.ts
  tools/remark/remarkMana.ts
  tools/remark/remarkRow.client.ts
  tools/remark/remarkScries.ts
Due: eslint, prettier --write

fix(decklist): move chips to the client
  components/Decklist/Decklist.tsx
  components/Decklist/Summary.tsx
  components/Toc/Entries.tsx
Due: eslint, prettier --write

refactor(layout): memoize togglers
  components/Toc/Toc.tsx
  contexts/Layout.tsx
  eslint.config.mjs
  next.config.js
  package.json
Due: eslint, prettier --write

refactor(rosetta): reduce CLS
  components/Rosetta/Rosetta.tsx
  next.config.ts
  tools/game/__tests__/getRosetta.test.ts
  tools/game/getCard.test.ts
  tools/game/getRosetta.ts
Due: eslint, prettier --write

chore(tracking): rename theme to device_theme
  contexts/Tracking.tsx
Due: eslint, prettier --write

chore(tracking): rename theme to device_theme (#260)
  contexts/Tracking.tsx
Due: eslint, prettier --write
