Repository angrybacon/doomsday-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

fix(dependencies): downgrade prettier 3.0.0 -> 2.8.8
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write

fix(remark): scroll into anchors automatically
  package.json
  scryfall/server.js
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/_app.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/theme/theme.ts
  src/tools/scryfall/parse.ts
  yarn.lock
Due: eslint, prettier --write

fix(tweet): adjust automatic height
  src/components/Remark/renderers/RemarkTweet.tsx
Due: eslint, prettier --write

fix(remark): scroll into anchors automatically (#232)
  package.json
  scryfall/server.js
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkTweet.tsx
  src/pages/[category]/[chapter].tsx
  src/pages/_app.tsx
  src/pages/articles/[year]/[month]/[day]/[article].tsx
  src/theme/theme.ts
  src/tools/scryfall/parse.ts
  yarn.lock
Due: eslint, prettier --write

feat(discord): add slash-discord route
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/entombsday/basics.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/partials/article-footer.md
  markdown/partials/welcome.md
  next.config.js
  package.json
  src/components/Sidebar/SidebarHeader.tsx
  yarn.lock
Due: eslint, prettier --write, markdownlint

feat(discord): add slash-discord route (#233)
  markdown/articles/2021/03/21/everything-vintage-doomsday.md
  markdown/chapters/appendices/decklists.md
  markdown/chapters/appendices/faq.md
  markdown/chapters/entombsday/basics.md
  markdown/chapters/meandeck/deck-construction.md
  markdown/partials/article-footer.md
  markdown/partials/welcome.md
  next.config.js
  package.json
  src/components/Sidebar/SidebarHeader.tsx
  yarn.lock
Due: eslint, prettier --write, markdownlint

fix: enforce noUncheckedIndexedAccess
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/handlers.ts
  src/tools/decklists/constants.ts
  src/tools/decklists/getDecklists.ts
  src/tools/decklists/parseCards.ts
  src/tools/decklists/parseHeader.ts
  src/tools/mana/constants.ts
  src/tools/mana/toArray.test.ts
  src/tools/mana/toArray.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getBanner.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/utilities.test.ts
  src/tools/markdown/utilities.ts
  src/tools/remark/remarkRow.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/scry.ts
  src/tools/scryfall/types.ts
  tsconfig.json
  typings.d.ts
Due: eslint, prettier --write

fix: enforce noUncheckedIndexedAccess (#234)
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/mocks/constants/named.ts
  src/mocks/constants/search.ts
  src/mocks/handlers.ts
  src/tools/decklists/constants.ts
  src/tools/decklists/getDecklists.ts
  src/tools/decklists/parseCards.ts
  src/tools/decklists/parseHeader.ts
  src/tools/mana/constants.ts
  src/tools/mana/toArray.test.ts
  src/tools/mana/toArray.ts
  src/tools/markdown/constants/Files.ts
  src/tools/markdown/getArticleCards.ts
  src/tools/markdown/getBanner.ts
  src/tools/markdown/getChapterCards.ts
  src/tools/markdown/getMarkdown.ts
  src/tools/markdown/getMenu.ts
  src/tools/markdown/utilities.test.ts
  src/tools/markdown/utilities.ts
  src/tools/remark/remarkRow.ts
  src/tools/scryfall/read.ts
  src/tools/scryfall/scry.ts
  src/tools/scryfall/types.ts
  tsconfig.json
  typings.d.ts
Due: eslint, prettier --write

chore(header): remove current commit hash
  CONTRIBUTING_WITH_MARKDOWN.org
  package.json
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleChip/ArticleChip.tsx
  src/components/ArticleMeta/ArticleMeta.tsx
  src/components/Banner/Banner.tsx
  src/components/Decklist/Column.tsx
  src/components/Decklist/Decklist.tsx
  src/components/Header/Header.tsx
  src/components/Mana/Mana.tsx
  src/components/Remark/renderers/RemarkAccordion.tsx
  src/components/Remark/renderers/RemarkCard.tsx
  src/components/Remark/renderers/RemarkDecklist.tsx
  src/components/Remark/renderers/RemarkDivider.tsx
  src/components/Remark/renderers/RemarkMana.tsx
  src/components/Remark/renderers/RemarkRow.tsx
  src/components/Remark/renderers/RemarkSoundcloud.tsx
  src/components/Remark/renderers/RemarkYoutube.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Title/Title.tsx
Due: eslint, prettier --write

fix(header): account for header when scrolling to anchors
  src/components/Header/Header.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkHeading.tsx
  src/theme/theme.ts
  src/theme/tools/barf.ts
  src/theme/tools/gutters.ts
  src/theme/tools/toolbarMargin.ts
Due: eslint, prettier --write

fix(header): account for header when scrolling to anchors (#235)
  src/components/Header/Header.tsx
  src/components/Remark/Remark.tsx
  src/components/Remark/renderers/RemarkHeading.tsx
  src/theme/theme.ts
  src/theme/tools/barf.ts
  src/theme/tools/gutters.ts
  src/theme/tools/toolbarMargin.ts
Due: eslint, prettier --write

wiki(articles): add spoiling-for-a-fight
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
Due: markdownlint

adding code for Spoils calculator, plus pictures for Spoils article
  public/media/pictures/2023.bird.on.spoils.png
  public/media/pictures/2023.emidln.on.spoils.png
  public/media/pictures/2023.jax.on.spoils.png
  public/media/pictures/2023.wonderpreaux.on.spoils.png
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
Due: eslint, prettier --write

feat(spoils): add calculator to sandbox page
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
  src/pages/sandbox.tsx
Due: eslint, prettier --write

feat(spoils): add result history
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
Due: eslint, prettier --write

proofreading of article and minor edits
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
Due: markdownlint

wiki(articles): add higher-res pictures
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
  public/media/pictures/2023.emidln.on.spoils.png
  public/media/pictures/2023.jax.on.spoils.png
  public/media/pictures/2023.spoils.bird.png
  public/media/pictures/2023.spoils.emidln.png
  public/media/pictures/2023.spoils.jax.png
  public/media/pictures/2023.spoils.wonderpreaux.png
  public/media/pictures/2023.wonderpreaux.on.spoils.png
Due: markdownlint

wiki(articles): add card rows
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
Due: markdownlint

wiki(articles): fix typos and wordings
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
Due: markdownlint

feat(spoils): add actions
  src/components/Card/CardFace.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
  src/theme/theme.ts
Due: eslint, prettier --write

feat(spoils): prevent undefined input
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
Due: eslint, prettier --write

wiki(articles): insert spoils calculator
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/articles/2023/10/10/spoiling-for-a-fight.md
  src/components/Remark/constants.ts
Due: eslint, prettier --write, markdownlint

wiki(articles): update Bird screenshot
  public/media/pictures/2023.spoils.bird.png
Due: none

wiki(articles): update article date
  markdown/articles/2023/10/14/spoiling-for-a-fight.md
Due: markdownlint

wiki(articles): add spoiling-for-a-fight (#236)
  CONTRIBUTING_WITH_MARKDOWN.org
  markdown/articles/2023/10/14/spoiling-for-a-fight.md
  public/media/pictures/2023.spoils.bird.png
  public/media/pictures/2023.spoils.emidln.png
  public/media/pictures/2023.spoils.jax.png
  public/media/pictures/2023.spoils.wonderpreaux.png
  src/components/Card/CardFace.tsx
  src/components/Remark/constants.ts
  src/components/Sidebar/SidebarHeader.tsx
  src/components/SpoilsCalculator/SpoilsCalculator.tsx
  src/pages/sandbox.tsx
  src/theme/theme.ts
Due: eslint, prettier --write, markdownlint

wiki(articles): fix Spoils maths
  markdown/articles/2023/10/14/spoiling-for-a-fight.md
Due: markdownlint

chore(dependencies): upgrade prettier 2.8.8 -> 3.0.3
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write

wiki(articles): fix Spoils maths (#237)
  markdown/articles/2023/10/14/spoiling-for-a-fight.md
Due: markdownlint

chore(dependencies): upgrade prettier 2.8.8 -> 3.0.3 (#231)
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write

feat(search): add global hotkey
  package.json
  src/components/Search/Search.tsx
  yarn.lock
Due: eslint, prettier --write

feat(guff): write entries to JSON
  .eslintrc.json
  guff/guff.ts
  guff/models.ts
  guff/read.ts
  guff/tsconfig.json
  guff/typings.d.ts
  guff/walk.ts
Due: eslint, prettier --write

feat(guff): add first draft wip
  guff/guff.ts
  guff/tsconfig.json
  guff/walk.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write

feat(search): add search input
  .lintstagedrc.json
  src/components/Header/Header.tsx
  src/components/Layout/Layout.tsx
  src/components/Search/Search.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarRosetta.tsx
  src/hooks/useDebounce.ts
Due: eslint, prettier --write

feat(guff): skip report headings
  guff/guff.ts
  guff/models.ts
  guff/read.ts
  guff/tsconfig.json
  package.json
  tsconfig.json
Due: eslint, prettier --write

feat(guff): add heading blacklist
  guff/read.ts
Due: eslint, prettier --write

wiki(resources): add Freakle EW2023 report
  markdown/chapters/appendices/resources.md
Due: markdownlint

wiki(resources): add Freakle EW2023 report (#239)
  markdown/chapters/appendices/resources.md
Due: markdownlint

chore(license): update copyright year
  LICENSE.org
  src/components/Footer/Footer.tsx
Due: eslint, prettier --write

chore(license): update copyright year (#240)
  LICENSE.org
  src/components/Footer/Footer.tsx
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,json,jsx,scss,ts,tsx}
  markdownlint: any of: *.md
